NEXT_PUBLIC_SUPABASE_URL=https://rtfyfeltztrnqdjbvvuv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_AzejgDWF8fIU2gFx7RQD4g_-22ACyni
NEXT_PUBLIC_TRC20_USDT_ADDRESS=TX1234567890TRC20USDTAddressDemoKey
NEXT_PUBLIC_WHATSAPP_NUMBER=1234567890
