NEXT_PUBLIC_SUPABASE_URL=https://rtfyfeltztrnqdjbvvuv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_AzejgDWF8fIU2gFx7RQD4g_-22ACyni
GOOGLE_CLIENT_ID=your_google_client_id_placeholder
GOOGLE_CLIENT_SECRET=your_google_client_secret_placeholder
NEXT_PUBLIC_TRC20_USDT_ADDRESS=TQk7X9p2L3m4N5v6P7R8s9T0u1V2W3X4Y5Z
